<section class="w-full min-h-[50vh] flex flex-col items-center justify-center bg-center bg-cover bg-[linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/footer-back.jpg)] p-6 text-white">
  <img class="w-48 sm:w-64 md:w-80 lg:w-96" src="/images/big-logo.svg">
</section>

<section class="w-full flex flex-col md:flex-row items-center justify-around bg-white text-black py-10 px-4 gap-8">
  <div></div>
  <div class="flex flex-col items-center text-center px-4 py-6">
    <img class="w-40 sm:w-48 mb-4" src="/images/pencil-lady.svg" alt="Edit Ratings">
    <h2 class="text-xl sm:text-2xl font-bold leading-tight">
      Create profiles<br>for any professor
    </h2>
  </div>

  <div class="flex flex-col items-center text-center px-4 py-6">
    <img class="w-40 sm:w-48 mb-4" src="/images/mystery-lady.svg" alt="Anonymous Ratings">
    <h2 class="text-xl sm:text-2xl font-bold leading-tight">
      Your ratings are<br>always anonymous
    </h2>
  </div>

  <div class="flex flex-col items-center text-center px-4 py-6">
    <img class="w-40 sm:w-48 mb-4" src="/images/thumb-war.svg" alt="Like or Dislike">
    <h2 class="text-xl sm:text-2xl font-bold leading-tight">
      Like or dislike ratings<br>to help others
    </h2>
  </div>
  <div></div>
</section>
