<h1 class="font-black text-5xl">Add a professor</h1>
<p class="mt-2">Please use the search bar above to make sure that the professor does not already exist at this university.</p>

<% if (typeof error !== 'undefined' && error) { %>
  <p><%= error %></p>
<% } %>

<form method="post">
    <div class="mt-8">
        <label for="university" class="block mb-2">Name of university</label>
        <select name="university" id="university" required class="h-10 w-80 p-2 border border-[#d1d1d1] rounded-xs">
            <option selected disabled value="">Select a university</option>
            <% universities.forEach(university => { %>
                <option value="<%= university.slug %>"><%= university.name %></option>
            <% }) %>
        </select>
    </div>

    <div class="mt-8">
        <label for="first" class="block mb-2">First name</label>
        <input name="first" type="text" id="first" required class="h-10 w-80 p-2 border border-[#d1d1d1] rounded-xs" >
    </div>

    <div class="mt-8">
        <label for="middle" class="block mb-2">Middle name</label>
        <input name="middle" type="text" id="middle" class="h-10 w-80 p-2 border border-[#d1d1d1] rounded-xs" >
    </div>

    <div class="mt-8">
        <label for="last" class="block mb-2">Last name</label>
        <input name="last" type="text" id="last" required class="h-10 w-80 p-2 border border-[#d1d1d1] rounded-xs" >
    </div>

    <div class="mt-8">
        <label for="department" class="block mb-2">Department</label>
        <input name="deptName" type="text" id="department" required class="h-10 w-80 p-2 border border-[#d1d1d1] rounded-xs" >
    </div>

    <div class="mt-8">
        <label for="directory" class="block mb-2">Directory listing URL</label>
        <input name="directory" type="url" id="directory" required class="h-10 w-80 p-2 border border-[#d1d1d1] rounded-xs" >
    </div>

    <button type="submit"
    class="mt-8 bg-blue-700 hover:bg-blue-800 w-80 py-[10px] rounded-4xl text-white text-xl font-bold border-black">
        Add professor
    </button>
</form>