<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/images/favicon.png">
  <link href="/css/style.css" rel="stylesheet">

  <title>
    <%= (typeof pageTitle !== "undefined" && pageTitle) ? pageTitle + " | " : "" %>Rate My Professors
  </title>
</head>
<body class="flex flex-col min-h-screen">

  <!-- Header -->
  <header class="h-20 w-full bg-black flex items-center justify-center">
    <a href="/">
      <img src="/images/small-logo.svg" alt="Rate My Professors logo">
    </a>
  </header>

  <!-- Main Content -->
  <main class="flex flex-col flex-1 p-3">
    <%- body %>
  </main>

  <!-- Footer -->
  <footer class="mt-8 h-16 w-full bg-black flex items-center justify-center text-white text-xs p-3 text-center">
    <p>
      Made in 🇵🇰 and proudly hosted by 
      <a class="underline" href="https://wckd.pk" target="_blank">wckd.pk</a>
    </p>
  </footer>

</body>
</html>
