<div class="flex flex-col items-center">
  <div class="font-bold">QUALITY</div>
  <div class="h-20 w-20 flex items-center justify-center font-black text-4xl text-black
  <%= quality < 3 ? 'bg-[#ff9c9c]' : (quality >= 4 ? 'bg-[#7ff6c3]' : 'bg-[#fff170]') %>">
    <%= quality %>
  </div>
</div>