

  <div class="flex items-center space-x-2">

    <label class="w-12 h-10 rounded-l-full cursor-pointer hover:bg-[#219753] checked:bg-blue-500">
      <input type="radio" name="rating" value="1" class="peer hidden checked:bg-blue-500" />
      <span class="text-gray-400 peer-checked:text-yellow-500 peer-hover:text-yellow-400 text-3xl">★</span>
    </label>

    <label class="cursor-pointer">
      <input type="radio" name="rating" value="2" class="peer hidden" />
      <span class="text-gray-400 peer-checked:text-yellow-500 peer-hover:text-yellow-400 text-3xl">★</span>
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="rating" value="3" class="peer hidden" />
      <span class="text-gray-400 peer-checked:text-yellow-500 peer-hover:text-yellow-400 text-3xl">★</span>
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="rating" value="4" class="peer hidden" />
      <span class="text-gray-400 peer-checked:text-yellow-500 peer-hover:text-yellow-400 text-3xl">★</span>
    </label>
    <label class="cursor-pointer">
      <input type="radio" name="rating" value="5" class="peer hidden" />
      <span class="text-gray-400 peer-checked:text-yellow-500 peer-hover:text-yellow-400 text-3xl">★</span>
    </label>
  </div>

