<form action="/search" class="flex items-center justify-center">
  <input required name="q" type="text" placeholder="Search by name"
  class="w-full sm:w-4/5 md:w-2/3 h-12 px-6 rounded-l-full text-black bg-white focus:outline-none">

  <button type="submit" class="h-12 px-6 py-2 bg-blue-700 hover:bg-blue-800 text-white font-bold rounded-r-full transition">
    Search
  </button>
</form>