<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/images/favicon.png">
    <link href="/assets/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof pageTitle !== "undefined" && pageTitle) ? pageTitle + " | " : "" %>Rate My Professors</title>
</head>
<body class="flex flex-col">
    <div class="h-[80px] w-screen bg-black flex items-center justify-around">
        <img src="/assets/images/small-logo.svg" alt="">
    </div>
    <%- body %>
</body>
</html>